#include "resources.h"

IDI_APP_ICON ICON "icon.ico"

STRINGTABLE 
BEGIN
	IDS_STR_EMPTY ""
	IDS_STR_APP_NAME "Password Generator"
	IDS_STR_APP_ABOUT "About - Password Generator"
	IDS_STR_ERROR_REG_CLASS "Error while registering a class instance.\n"
							"Application will be terminated."
	
	IDS_STR_GROUPBOX_SETTINGS "Settings"
	IDS_STR_LABEL_SYMBOLS "Characters included:"
	IDS_STR_CHECKBOX_LOWER "a-z"
	IDS_STR_CHECKBOX_UPPER "A-Z"
	IDS_STR_CHECKBOX_DIGITS "0-9"
	IDS_STR_CHECKBOX_SPECIAL "@#$"

	IDS_STR_BUTTON_GENERATE "Generate"
	IDS_STR_BUTTON_COPY "Copy"
	IDS_STR_BUTTON_INFO "Info"
	
	IDS_STR_APP_ABOUT_TEXT 	"Password Generator 1.0 64-bit\n\n\n"	
							"Created by ap13ski\n"
							"https://github.com/ap13ski\n"
							"ap13ski@gmail.com\n\n"
							"Compiled with MinGW-W64 12.0.0 64-bit\n"
							"https://www.mingw-w64.org\n\n"
							"Packed with UPX 4.2.4 64-bit\n"
							"https://upx.github.io\n"
/*							
	IDS_STR_APP_ABOUT_TEXT	"Password Generator 1.0 32-bit\n\n\n"
							"Created by ap13ski\n"
							"https://github.com/ap13ski\n"
							"ap13ski@gmail.com\n\n"	
							"Compiled with TDM-GCC 9.2.0 32-bit\n"
							"https://jmeubank.github.io/tdm-gcc\n"
							"https://sourceforge.net/projects/tdm-gcc\n\n"
							"Packed with UPX 4.2.4 32-bit\n"
							"https://upx.github.io\n"	
*/							
	IDS_STR_LABEL_NUMBER_FORMATTED "Characters count: %ld"
END